<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1> Welcome to {{title}}!</h1>

  <table>
    <tr>
      <th> Email </th>
      <th> Importance </th>
      <th> Subject </th>
      <th> Content </th>
    </tr>
    <tr *ngFor='let email of emails'>
     <td> {{ email.Email|lowercase }} </td>
     <td *ngIf = email.Importance> High </td>
     <td *ngIf = !email.Importance> Low </td>
     <td>{{ email.Subject }}</td>
     <td>{{ email.Content }}</td>
     </tr>
  </table>


